<main>
  <div class = "container">

    <div class = "row">
      <div class = "col">
        <%= image_tag 'home_top.gif', class:"img-fluid" %>
      </div>
    </div>

    <div class = "js-animation">
      <div class = "row">
        <div class = "col">
          <%= image_tag 'home_top_explain.jpg', class:"img-fluid" %>
        </div>
      </div>
    </div>


  </div>
</main>
