<h1>Users::Analysis#index</h1>
<p>Find me in app/views/users/analysis/index.html.erb</p>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#photo1" class="nav-link active" data-toggle="tab">終了したタスク一覧</a>
    </li>
    <li class="nav-item">
      <a href="#photo2" class="nav-link" data-toggle="tab">全体ログ一覧</a>
    </li>
    <li class="nav-item">
      <a href="#photo3" class="nav-link" data-toggle="tab">到達度</a>
    </li>
  </ul>

  <!-- 写真部分 -->
  <div class="tab-content">
    <div id="photo1" class="tab-pane active">
      a
    </div>
    <div id="photo2" class="tab-pane">
      b
    </div>
    <div id="photo3" class="tab-pane">
      <%= pie_chart List.group(:importance).count %>
    </div>
  </div>
