<div class = "container">
  <div class ="row mt-3">
    <div class ="col text-center mx-auto">
      <%= form_with model: @room, url: main_path(@room.id), local:true do |f| %>
        <div class="field"><h1><strong>ルームの設定変更</strong></h1></div>
        <div class="field mt-4">
          <strong>ルーム名</strong>
        </div>
        <div class="field mt-2">
          <%= f.text_field :name, placeholder:"ルーム名" %>
        </div>
        <div class="field mt-4">
          <strong>ルームの目標</strong>
        </div>
        <div class="field mt-2">
          <%= f.text_field :goal, placeholder:"ルームの目標" %>
        </div>
        <div class="actions mt-4">
          <%= f.submit "ルームの設定を変更", class:"btn btn-lg btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

