<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p><%= link_to "© Taskn.app 2021", new_admin_session_path, class:"text-dark font-weight-bold text-decoration-none" %></p>
      </div>
    </div>
  </div>
</footer>